In [29]:
import pandas as pd
from dateutil.relativedelta import relativedelta
from datetime import datetime
from dateutil.parser import parse
df = pd.read_csv('CSV Sample data.csv')  
df

,Date,Nippon India Large Cap,HDFC Flexi Cap,Nifty 50 TRI,NIfty 500 TRI
0,1/1/18,34.6,675.4,14252.0,13813.8
1,1/2/18,34.5,672.0,14261.1,13789.4
2,1/3/18,34.6,675.0,14262.5,13820.9
3,1/4/18,35.0,683.6,14346.6,13918.1
4,1/5/18,35.2,685.6,14420.4,14017.2
...,...,...,...,...,...
1974,7/18/25,100.9,2158.2,37435.7,37010.3
1975,7/21/25,101.4,2170.9,37619.1,37174.7
1976,7/22/25,101.3,2168.0,37574.4,37083.1
1977,7/23/25,101.8,2179.8,37812.8,37254.9
1978,7/24/25,101.3,2170.9,37579.0,37054.6

In [ ]:
import pandas as pd
from dateutil.relativedelta import relativedelta
from datetime import datetime
df['Date'] = pd.to_datetime(df['Date'])
def calculate_return(df, months):
    current_date = df['Date'].max()
    curr_NAV = df[df['Date'] == current_date]['Nippon India Large Cap'].values[0]
    previous_date = current_date - relativedelta(months=months)
    month_number = previous_date.month
    year_number = previous_date.year 
    last_date = df[(df['Date'].dt.month == month_number) & (df['Date'].dt.year == year_number)]['Date'].max()
    oneM_NAV = df[df['Date'] == last_date]['Nippon India Large Cap'].values[0]
    NAV = ((curr_NAV / oneM_NAV) - 1) * 100
    return NAV
one_month_return = calculate_return(df, 1)
three_month_return = calculate_return(df, 3)
six_month_return = calculate_return(df, 6)
one_year_return = calculate_return(df, 12)

In [24]:
one_month_return

-1.074218750000011

In [25]:
three_month_return

5.741127348643005

In [26]:
six_month_return

9.041980624327216

In [27]:
one_year_return

2.323232323232327